@import '../global';

form {
   input, textarea {
       padding:10px 10px;
       margin: 10px 0px;
       width: 30%;
       @include border-radius(10px);
       @include box-sizing(border-box);
   } 
   textarea {
       height:100px;
   }
}