@import '../../global';

.NavBar {
    display: inline; 

    .NavBarItem, .Dropdown {
        display: inline-block;
        padding: 2px 20px;
        cursor: pointer;
    }

    .NavBarItem:hover, .Dropdown:hover {
        color: $font-link-hover-color;
        //text-shadow: 1px 1px 1px $font-link-hover-color;
    }

    .Dropdown div {
        margin: 0px;
        padding-top:10px;
        //display: none;
        max-height:0px;
        overflow: hidden;
        transition: 0.5s;
        position: absolute;
        z-index: 1;
        background-color: $background-color;
    }

    .Dropdown div:hover, .Dropdown:hover div {
        display:block;
        max-height:500px;
    }


    .Dropdown div .NavBarItem{
        display: block;
        padding: 5px 0px;
    }
}
