// Colors
$background-color: #111111;
$header-color: rgb(236,59,131);//#ec3b83; //rgb(236,59,131)
$font-color: #999999;
$font-link-hover-color: #DDDDDD;

// Fonts
$main-font: Tahoma, Geneva, sans-serif;
$header-font: Tahoma, Geneva, sans-serif;
$X-font: 'Trade Winds', cursive;